.ma_classe1 .ma_classe2 .ma_classe3 .ma_classe4 .ma_classe5 {
  color: white; }

.ma_classe1 .ma_classe2:hover {
  background: red; }

.ma_classe1 #salut {
  font-weight: bold; }

.azerty {
	background: black;
}